body {
  background-color: #D3D3D3;
}
.titulo-principal {
  text-align: center;
  letter-spacing: 10px;
}
.contenido-principal {
  /* Medidas relativas */
  width: 90%;
  margin: 0 auto;
}
/* .contenido-principal article {
  width: 80%;
  margin: 0 auto;
} */
.contenido-principal .encabezado {
  background-color: gray;
  color: white;
  padding: 10px 5px;
}

.contenido-principal .contenido {
  width: 70%;
  margin: 0 auto;
}

.contenido-principal .contenido-imagen {
  float: left;
}

.contenido-principal .contenido-texto {
  margin-left: 150px;
}

.contenido-principal .contenido-texto p {
  text-indent: 20px;
  text-align: justify;
}